.historyWrapper {
  padding: 0;
  color: white;
  height: 100%;
  overflow-y: auto;
}

.tableContainer {
  overflow-x: auto;
  max-height: 100%;
}

.songTable {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(15, 15, 15, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 14px;
}

.songTable th {
  backdrop-filter: blur(6px);
  background-color: rgba(5, 17, 5, 0.5) !important;
}

.songTable th,
.songTable td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.albumImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}
