h1 {
  padding: 0;
  margin: 0;
}

.RecommendationForm_Body {
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 77px;
}

.RecommendationForm_Container {
  background: linear-gradient(
    to bottom,
    rgba(5, 10, 5, 0.3),
    rgba(52, 112, 56, 0.3)
  );
  width: 100%;
  height: 450px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RecommendationForm_Container_Form {
    margin-top: 92px;
    width: 970px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre filas */
}

.RecommendationForm_Columns {
    display: flex;
    justify-content: space-between; /* Asegura la separación entre las columnas */
    gap: 185px; /* Espaciado entre las dos columnas */
}

.RecommendationForm_Column {
    display: flex;
    flex-direction: column;
    gap: 26px; /* Espaciado entre los elementos de cada columna */
}

.RecommendationForm_Button {
    margin-top: 100px; 
    padding-bottom: 30px;
    align-self: center; /* Centra el botón horizontalmente */
}
