.title {
  position: relative;
  top: -30px;
  font-weight: 400;
  margin-right: auto;
  text-align: start;
  color: white !important;
  font-size: 35px;
}

.login-box {
  padding: 15px 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 60px;
}
