h2 {
  padding: 0;
  margin: 0;
  color: #fff;
}

.RecommendationForm_Body {
  height: calc(100vh - 150px);
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 30px;
}

.RecommendationForm_Container {
  background: linear-gradient(
    to bottom,
    rgba(5, 10, 5, 0.1),
    rgba(52, 112, 56, 0.2)
  );
  width: 100%;
  height: 450px;
  height: calc(100% - 50px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.RecommendationForm_Container_Form {
  width: 970px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaciado entre filas */
}

.RecommendationForm_Columns {
  display: flex;
  justify-content: space-between; /* Asegura la separación entre las columnas */
  gap: 100px; /* Espaciado entre las dos columnas */
}

.RecommendationForm_Column {
  display: flex;
  flex-direction: column;
  gap: 26px; /* Espaciado entre los elementos de cada columna */
  justify-content: space-between;
}

.RecommendationForm_Button {
  align-self: center; /* Centra el botón horizontalmente */
}
