h2 {
  padding: 0;
  margin: 0;
  color: #fff;
}

.RecommendationForm_Body {
  height: calc(100vh - 150px);
  padding: 30px 71px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RecommendationForm_Container {
  background: linear-gradient(
    to bottom,
    rgba(5, 10, 5, 0.1),
    rgba(52, 112, 56, 0.2)
  );
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RecommendationForm_Container_Form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
